Repository hamlim/projects, changes with the labels that .github/labeler.yml gives for each.
All labels: 📦 Simple Cache, 📦 Components, 📦 Reroute Browser, 📦 Reroute Core, 📦 Property Controls, 📦 Babel Plugin Property Controls, 🛠️ Repo, 🔢 Kitchen Sink

.github/labeler.yml:

📦 Simple Cache:
  - packages/simple-cache/**/*
📦 Components:
  - packages/component-library/**/*
📦 Reroute Browser:
  - packages/reroute-browser/**/*
📦 Reroute Core:
  - packages/reroute-core/**/*
📦 Property Controls:
  - packages/property-controls/**/*
📦 Babel Plugin Property Controls:
  - packages/babel-plugin-property-controls/**/*
🛠️ Repo:
  - ./*
🔢 Kitchen Sink:
  - packages/kitchen-sink/**/*

Properly setup lerna init
  lerna.json
  package.json
Labels: 🛠️ Repo

Properly setup lerna init
  lerna.json
  package.json
Labels: 🛠️ Repo

Add react and react-dom to kitchen sink
  .pnp.js
  .yarn/cache/react-dom-npm-0.0.0-experimental-b53ea6ca0-75b82195e4-1.zip
  .yarn/cache/react-npm-0.0.0-experimental-b53ea6ca0-8d4c053edb-1.zip
  .yarn/cache/scheduler-npm-0.0.0-experimental-b53ea6ca0-c74e180ae0-1.zip
  packages/kitchen-sink/package.json
  yarn.lock
Labels: 🛠️ Repo, 🔢 Kitchen Sink

Specific react versions
  .gitignore
  .pnp.js
  .yarn/cache/@emotion-core-npm-10.0.22-9acebcac0d-1.zip
  .yarn/cache/@emotion-styled-npm-10.0.23-c8d3309c00-1.zip
  .yarn/cache/emotion-theming-npm-10.0.19-b034085fb8-1.zip
  .yarn/cache/react-dom-npm-0.0.0-experimental-0e6839614-00aa51031b-1.zip
  .yarn/cache/react-dom-npm-0.0.0-experimental-b53ea6ca0-75b82195e4-1.zip
  .yarn/cache/react-npm-0.0.0-experimental-0e6839614-6cdfb194b0-1.zip
  .yarn/cache/react-npm-0.0.0-experimental-b53ea6ca0-8d4c053edb-1.zip
  .yarn/cache/scheduler-npm-0.0.0-experimental-0e6839614-7530c9a955-1.zip
  .yarn/cache/scheduler-npm-0.0.0-experimental-b53ea6ca0-c74e180ae0-1.zip
  packages/kitchen-sink/package.json
  packages/kitchen-sink/src/index.html
  yarn.lock
Labels: 🛠️ Repo, 🔢 Kitchen Sink

Kitchen sink won't work with yarn 2 yet
  packages/kitchen-sink/src/index.js
Labels: 🔢 Kitchen Sink

Add note about not working yet
  packages/kitchen-sink/README.md
Labels: 🔢 Kitchen Sink

Add JS plugin
  packages/native-bundler-plugin-js/README.md
  packages/native-bundler-plugin-js/babel.config.js
  packages/native-bundler-plugin-js/package.json
  packages/native-bundler-plugin-js/src/index.js
Labels: none

Add mdx plugin
  packages/native-bundler-plugin-mdx/README.md
  packages/native-bundler-plugin-mdx/babel.config.js
  packages/native-bundler-plugin-mdx/package.json
  packages/native-bundler-plugin-mdx/src/index.js
Labels: none

Add cli and yarn
  .pnp.js
  .yarn/cache/@native-bundler-plugin-css-npm-0.0.1-68192f8d6b-1.zip
  .yarn/cache/@native-bundler-plugin-js-npm-0.0.3-403d864468-1.zip
  .yarn/cache/@native-bundler-plugin-mdx-npm-0.0.3-6c11f1f5f0-1.zip
  .yarn/cache/babel-plugin-macros-npm-2.4.3-978c492836-1.zip
  .yarn/cache/resolve-npm-1.13.1-e0c047f03d-1.zip
  packages/native-bundler-cli/README.md
  packages/native-bundler-cli/babel.config.js
  packages/native-bundler-cli/package.json
  packages/native-bundler-cli/src/index.js
  yarn.lock
Labels: 🛠️ Repo

Add build command to the root of the repo
  package.json
Labels: 🛠️ Repo

Install deps for build
  .pnp.js
  .yarn/cache/@babel-core-npm-7.7.4-960c104f6a-1.zip
  .yarn/cache/@babel-plugin-proposal-dynamic-import-npm-7.7.4-5d1cb772fb-1.zip
  .yarn/cache/@babel-plugin-proposal-object-rest-spread-npm-7.7.4-433eacd5f8-1.zip
  .yarn/cache/@babel-plugin-syntax-dynamic-import-npm-7.7.4-cf14ea21d5-1.zip
  .yarn/cache/@babel-plugin-syntax-object-rest-spread-npm-7.7.4-ed9a7f5247-1.zip
  .yarn/cache/@babel-plugin-syntax-top-level-await-npm-7.7.4-3d4a0d33e1-1.zip
  .yarn/cache/@babel-plugin-transform-member-expression-literals-npm-7.7.4-055b225e02-1.zip
  .yarn/cache/@babel-plugin-transform-named-capturing-groups-regex-npm-7.7.4-fad4952890-1.zip
  .yarn/cache/@babel-plugin-transform-property-literals-npm-7.7.4-79a730305a-1.zip
  .yarn/cache/@babel-plugin-transform-reserved-words-npm-7.7.4-7d0bc8a701-1.zip
  .yarn/cache/@babel-preset-env-npm-7.7.4-3a8478d714-1.zip
  packages/kitchen-sink/babel.config.js
  packages/kitchen-sink/package.json
  packages/native-bundler-cli/package.json
  packages/native-bundler-plugin-css/package.json
  yarn.lock
Labels: 🛠️ Repo, 🔢 Kitchen Sink

Resolve missing dependencies in a few packages
  .pnp.js
  packages/kitchen-sink/package.json
  packages/native-bundler-cli/package.json
  yarn.lock
Labels: 🛠️ Repo, 🔢 Kitchen Sink
