Repository hamlim/projects, changes with the labels that .github/labeler.yml gives for each.
All labels: 📦 Simple Cache, 📦 Components, 📦 Reroute Browser, 📦 Reroute Core, 📦 Property Controls, 📦 Babel Plugin Property Controls, 📦 Native Bundler Core, 📦 Native Bundler Cli, 📦 Native Bundler Plugin JS, 📦 Native Bundler Plugin MDX, 📦 Native Bundler Plugin CSS, 🛠️ Repo, Scripts, 🔢 Kitchen Sink, 📦 Redocer, 📦 Tasks, 📦 React Code Editor, 📦 Blog, 📦 Zaps, 📦 Revector, 📦 Hub, 📦 Base Styled, 📦 Use Error, 📦 Error Boundary, 📦 Babel Plugin Metadata, 📦 Ast Gql

.github/labeler.yml:

📦 Simple Cache:
  - packages/simple-cache/**/*
📦 Components:
  - packages/component-library/**/*
📦 Reroute Browser:
  - packages/reroute-browser/**/*
📦 Reroute Core:
  - packages/reroute-core/**/*
📦 Property Controls:
  - packages/property-controls/**/*
📦 Babel Plugin Property Controls:
  - packages/babel-plugin-property-controls/**/*
📦 Native Bundler Core:
  - packages/native-bundler-core/**/*
📦 Native Bundler Cli:
  - packages/native-bundler-cli/**/*
📦 Native Bundler Plugin JS:
  - packages/native-bundler-plugin-js/**/*
📦 Native Bundler Plugin MDX:
  - packages/native-bundler-plugin-mdx/**/*
📦 Native Bundler Plugin CSS:
  - packages/native-bundler-plugin-css/**/*
🛠️ Repo:
  - ./*
Scripts:
  - scripts/**/*
🔢 Kitchen Sink:
  - packages/kitchen-sink/**/*
📦 Redocer:
  - packages/redocer/**/*
📦 Tasks:
  - packages/tasks/**/*
📦 React Code Editor:
  - packages/react-code-editor/**/*
📦 Blog:
  - packages/blog/**/*
📦 Zaps:
  - packages/zaps/**/*
📦 Revector:
  - packages/revector/**/*
📦 Hub:
  - packages/hub/**/*
📦 Base Styled:
  - packages/base-styled/**/*

📦 Use Error:
  - packages/use-error/**/*

📦 Error Boundary:
  - packages/error-boundary/**/*

📦 Babel Plugin Metadata:
  - packages/babel-plugin-metadata/**/*

📦 Ast Gql:
  - packages/ast-gql/**/*

Refine query and result expected from ast-gql package
  packages/ast-gql/README.md
Labels: 📦 Ast Gql

Update root readme
  readme.md
Labels: 🛠️ Repo

Add add-component script to root package.json
  package.json
  scripts/add-component.js
Labels: 🛠️ Repo, Scripts

Add Stack component to the Library
  packages/component-library/README.md
  packages/component-library/src/Stack.js
  packages/component-library/src/__tests__/Stack-test.js
  packages/component-library/src/__tests__/index-test.js
  packages/component-library/src/index.js
  scripts/add-component.js
  scripts/create-package.js
  scripts/create-site.js
Labels: 📦 Components, Scripts

Update docs
  packages/component-library/README.md
Labels: 📦 Components

Hub: Sort transactions by date
  packages/hub/src/money/Money.js
Labels: 📦 Hub

Style tweaks for transactions list
  packages/hub/src/money/Money.js
Labels: 📦 Hub

Update spacing scale for component library
  packages/component-library/src/Theme.js
Labels: 📦 Components

Version and publish 3.1.0
  packages/component-library/README.md
  packages/component-library/package.json
Labels: 📦 Components

Add todo list to the root of the readme
  todo.md
Labels: 🛠️ Repo

Add additional todo
  todo.md
Labels: 🛠️ Repo

Update todo
  todo.md
Labels: 🛠️ Repo

Version bump zaps package
  packages/zaps/package.json
Labels: 📦 Zaps

Clean up zaps config, remove react dep from ast-gql, clean up create-package script
  .zaps/zaps.json
  packages/ast-gql/package.json
  scripts/create-package.js
Labels: Scripts, 📦 Ast Gql

Add publishing process to new packages
  scripts/create-package.js
Labels: Scripts

re-order push call, need to add value to the object now
  packages/babel-plugin-metadata/src/index.js
Labels: 📦 Babel Plugin Metadata

Grab the raw prop-type and write as code via generator
  packages/babel-plugin-metadata/package.json
  packages/babel-plugin-metadata/src/__fixtures__/prop-types/code.metadata.js
  packages/babel-plugin-metadata/src/__fixtures__/works/code.metadata.js
  packages/babel-plugin-metadata/src/index.js
  yarn.lock
Labels: 🛠️ Repo, 📦 Babel Plugin Metadata

Add fig file
  packages/hub/hub.fig
Labels: 📦 Hub

Setting up property-controls plugin
  packages/babel-plugin-property-controls/babel.config.js
  packages/babel-plugin-property-controls/package.json
  packages/babel-plugin-property-controls/src/__fixtures__/non-destructive-default/.babelrc
  packages/babel-plugin-property-controls/src/__fixtures__/non-destructive-default/code.js
  packages/babel-plugin-property-controls/src/__fixtures__/non-destructive-default/output.js
  packages/babel-plugin-property-controls/src/__fixtures__/removes-with-remove-flag/.babelrc
  packages/babel-plugin-property-controls/src/__fixtures__/removes-with-remove-flag/code.js
  packages/babel-plugin-property-controls/src/__fixtures__/removes-with-remove-flag/options.json
  packages/babel-plugin-property-controls/src/__fixtures__/removes-with-remove-flag/output.js
  packages/babel-plugin-property-controls/src/__fixtures__/replaces-with-proptypes/.babelrc
  packages/babel-plugin-property-controls/src/__fixtures__/replaces-with-proptypes/code.js
  packages/babel-plugin-property-controls/src/__fixtures__/replaces-with-proptypes/options.json
  packages/babel-plugin-property-controls/src/__fixtures__/replaces-with-proptypes/output.js
  packages/babel-plugin-property-controls/src/index.js
  packages/babel-plugin-property-controls/src/test.js
  yarn.lock
Labels: 📦 Babel Plugin Property Controls, 🛠️ Repo

Add import collection code
  packages/babel-plugin-metadata/src/__fixtures__/external-prop-types/code.js
  packages/babel-plugin-metadata/src/__fixtures__/external-prop-types/code.metadata.js
  packages/babel-plugin-metadata/src/__fixtures__/external-prop-types/external-types.js
  packages/babel-plugin-metadata/src/__fixtures__/external-prop-types/output.js
  packages/babel-plugin-metadata/src/__fixtures__/prop-types/code.metadata.js
  packages/babel-plugin-metadata/src/__fixtures__/works/code.metadata.js
  packages/babel-plugin-metadata/src/index.js
Labels: 📦 Babel Plugin Metadata

Document additional options, add code for imports from react, add wip code to handle classes
  packages/babel-plugin-metadata/README.md
  packages/babel-plugin-metadata/src/index.js
  packages/babel-plugin-metadata/src/test.js
Labels: 📦 Babel Plugin Metadata

Refined code for finding statics on classes, add todos to the readme
  packages/babel-plugin-metadata/README.md
  packages/babel-plugin-metadata/src/index.js
Labels: 📦 Babel Plugin Metadata

Re-arrange readme order
  packages/babel-plugin-metadata/README.md
Labels: 📦 Babel Plugin Metadata

Add zaps add command, add more tests cases to metadata plugin, add todos to readme
  packages/babel-plugin-metadata/README.md
  packages/babel-plugin-metadata/package.json
  packages/babel-plugin-metadata/src/__fixtures__/static-prop-types-component-alias-import/.babelrc
  packages/babel-plugin-metadata/src/__fixtures__/static-prop-types-component-alias-import/code.js
  packages/babel-plugin-metadata/src/__fixtures__/static-prop-types-component-alias-import/code.metadata.js
  packages/babel-plugin-metadata/src/__fixtures__/static-prop-types-component-alias-import/output.js
  packages/babel-plugin-metadata/src/__fixtures__/static-prop-types-react-default-import/.babelrc
  packages/babel-plugin-metadata/src/__fixtures__/static-prop-types-react-default-import/code.js
  packages/babel-plugin-metadata/src/__fixtures__/static-prop-types-react-default-import/code.metadata.js
  packages/babel-plugin-metadata/src/__fixtures__/static-prop-types-react-default-import/output.js
  packages/babel-plugin-metadata/src/__fixtures__/static-prop-types-react-namespace-import/.babelrc
  packages/babel-plugin-metadata/src/__fixtures__/static-prop-types-react-namespace-import/code.js
  packages/babel-plugin-metadata/src/__fixtures__/static-prop-types-react-namespace-import/code.metadata.js
  packages/babel-plugin-metadata/src/__fixtures__/static-prop-types-react-namespace-import/output.js
  packages/babel-plugin-metadata/src/index.js
  packages/zaps/README.md
  packages/zaps/src/add.js
  packages/zaps/src/index.js
  yarn.lock
Labels: 🛠️ Repo, 📦 Zaps, 📦 Babel Plugin Metadata

Grab prop-types imported values
  packages/babel-plugin-metadata/README.md
  packages/babel-plugin-metadata/src/index.js
Labels: 📦 Babel Plugin Metadata

Add comments for prop-types import
  packages/babel-plugin-metadata/src/index.js
Labels: 📦 Babel Plugin Metadata

Probably the wrong way to setup habits
  packages/hub/src/habits/Habits.js
  packages/hub/src/tasks/Tasks.js
Labels: 📦 Hub
