Repository hamlim/projects, pull requests merged in 2019-12, with the labels that each got.

#15 Update package names, set registry to npm
  .pnp.js
  packages/babel-plugin-property-controls/README.md
  packages/babel-plugin-property-controls/package.json
  packages/component-library/README.md
  packages/component-library/package.json
  packages/kitchen-sink/package.json
  packages/kitchen-sink/src/Landing.js
  packages/kitchen-sink/src/index.js
  packages/native-bundler-cli/README.md
  packages/native-bundler-cli/package.json
  packages/native-bundler-core/package.json
  packages/native-bundler-core/src/asset/transform-asset.js
  packages/native-bundler-plugin-css/README.md
  packages/native-bundler-plugin-css/package.json
  packages/native-bundler-plugin-js/README.md
  packages/native-bundler-plugin-js/package.json
  packages/native-bundler-plugin-mdx/README.md
  packages/native-bundler-plugin-mdx/package.json
  packages/property-controls/README.md
  packages/property-controls/package.json
  packages/redocer/README.md
  packages/redocer/package.json
  packages/reroute-browser/README.md
  packages/reroute-browser/package.json
  packages/reroute-browser/src/index.js
  packages/reroute-core/README.md
  packages/reroute-core/package.json
  packages/simple-cache/README.md
  packages/simple-cache/package.json
  scripts/create-package.js
  yarn.lock
Labels: Scripts, 📦 Babel Plugin Property Controls, 📦 Components, 📦 Native Bundler Cli, 📦 Native Bundler Core, 📦 Native Bundler Plugin CSS, 📦 Native Bundler Plugin JS, 📦 Native Bundler Plugin MDX, 📦 Property Controls, 📦 Redocer, 📦 Reroute Browser, 📦 Reroute Core, 📦 Simple Cache, 🔢 Kitchen Sink

#16 Tapable component takes focus after tap
  .pnp.js
  .yarn/cache/@babel-plugin-transform-runtime-npm-7.7.6-f2109e3fba-1.zip
  .yarn/cache/@babel-runtime-npm-7.7.6-9f1c3387f6-1.zip
  .yarn/cache/prettier-npm-1.19.1-e56d246fd2-1.zip
  package.json
  packages/component-library/babel.config.js
  packages/component-library/jest.config.js
  packages/component-library/jest.setup.js
  packages/component-library/package.json
  packages/component-library/src/Tapable.js
  packages/component-library/src/__tests__/Tapable-test.js
  packages/component-library/src/__tests__/useSharedRef-test.js
  packages/component-library/src/index.js
  packages/component-library/src/useSharedRef.js
  yarn.lock
Labels: 📦 Components

#19 Migrate to styled components
  packages/component-library/babel.config.js
  packages/component-library/package.json
  packages/component-library/src/Banner.js
  packages/component-library/src/Box.js
  packages/component-library/src/Button.js
  packages/component-library/src/GlobalStyles.js
  packages/component-library/src/Input.js
  packages/component-library/src/Link.js
  packages/component-library/src/Tapable.js
  packages/component-library/src/ThemeProvider.js
  yarn.lock
Labels: 📦 Components

#21 Update property controls package to drop rendering
  package.json
  packages/property-controls/README.md
  packages/property-controls/babel.config.js
  packages/property-controls/jest.config.js
  packages/property-controls/jest.setup.js
  packages/property-controls/package.json
  packages/property-controls/src/__tests__/index.test.js
  packages/property-controls/src/index.js
  yarn.lock
Labels: 📦 Property Controls

#22 Add react-code-editor package
  .github/labeler.yml
  packages/react-code-editor/README.md
  packages/react-code-editor/babel.config.js
  packages/react-code-editor/package.json
  packages/react-code-editor/src/__tests__/index.test.js
  packages/react-code-editor/src/index.js
  yarn.lock
Labels: 📦 React Code Editor

#24 Add HiddenCheckbox, VisuallyHidden, useId exports
  packages/component-library/README.md
  packages/component-library/src/HiddenCheckbox.js
  packages/component-library/src/Tapable.js
  packages/component-library/src/VisuallyHidden.js
  packages/component-library/src/__tests__/HiddenCheckbox-test.js
  packages/component-library/src/__tests__/index-test.js
  packages/component-library/src/handleKeyDown.js
  packages/component-library/src/index.js
  packages/component-library/src/useId.js
Labels: :star2: Enhancement, 📦 Components

#25 Updated VisuallyHidden spelling in readme
  packages/component-library/README.md
Labels: :books: Documentation, :star2: Enhancement, 📦 Components

#26 Updated property controls readme
  packages/property-controls/README.md
Labels: :books: Documentation, :star2: Enhancement, 📦 Property Controls

#18 Add Tasks site wip, create-site script
  .github/labeler.yml
  .gitignore
  package.json
  packages/tasks/README.md
  packages/tasks/babel.config.js
  packages/tasks/package.json
  packages/tasks/src/__tests__/index.test.js
  packages/tasks/src/index.html
  packages/tasks/src/index.js
  scripts/create-site.js
  yarn.lock
Labels: Scripts, 📦 Tasks

#29 Add List components
  packages/component-library/README.md
  packages/component-library/src/List.js
  packages/component-library/src/Theme.js
  packages/component-library/src/__tests__/index-test.js
  packages/component-library/src/index.js
Labels: :star2: Enhancement, 📦 Components

#32 Add zaps init command
  .github/labeler.yml
  .zaps/zaps.json
  now.json
  package.json
  packages/zaps/README.md
  packages/zaps/package.json
  packages/zaps/src/index.js
  packages/zaps/src/init.js
  packages/zaps/src/utils.js
  yarn.lock
Labels: 📦 Zaps

#33 Add revector package
  .codesandbox/ci.json
  .github/labeler.yml
  packages/revector/README.md
  packages/revector/babel.config.js
  packages/revector/package.json
  packages/revector/src/__tests__/index.test.js
  packages/revector/src/index.js
  yarn.lock
Labels: 📦 Revector
